.container {
  //@include susy-grid-background;
}

// Global Layout Styles
// --------------------------------------------------

body {
  width: 100%;
  @include background(#F7F7F7 image-url('backgrounds/bg-page.png') repeat top left);
  
  font-family: $baseFontFamily;
  color: $textColor;
  font-size: 100%;
  line-height: $baseLineHeight;
}


// Typography Styles
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $headlineFontFamily;
  @include text-shadow(rgba(255,255,255,1) 0 1px 0);
}

h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 825px;
  height: 125px;
  background: image-url('parts/img-logo.png') no-repeat top left;
  margin: 0 auto;
}

p {
  font-family: $baseFontFamily;
}

em {
  font-size: calc-em(13px, $baseFontSize);
}

// Link & Button Styles
// --------------------------------------------------

a {
  @include link-colors($linkColor, $linkHoverColor, $linkActiveColor, $linkVisitedColor, $linkFocusColor);
}

.button {
  display: inline-block;
  padding: calc-em(3px, $baseFontSize) calc-em(24px, $baseFontSize);
  
  color: #FFF;
  font-family: $headlineFontFamily;
  font-weight: bold;
  @include text-shadow(rgba(0,0,0,.4) 0 -1px 0);
  letter-spacing: .95px;
  
  border: {
    style: solid;
    width: 1px;
    top: {
      color: #2d91d4;
    }
    right: {
      color: #2e94cd;
    }
    bottom: {
      color: #1670a3;
    }
    left: {
      color: #2e94cd;
    }
  } //border
  

  @include border-radius(2px);
  @include background(linear-gradient(#43a4dc #146fa6));
  @include box-shadow(inset rgba(255,255,255,.5) 0 1px 0, inset rgba(0,0,0,.2) 0 0 6px, rgba(0,0,0,.4) 0 1px 3px);
  
  &:visited {
    color: #FFF;
  }
  
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
  
  &:active,
  &:focus {
    color: opacify(#FFF, .3);
    @include box-shadow(inset rgba(255,255,255,.1) 0 1px 0, inset rgba(0,0,0,.6) 0 0 13px);
  }
  
} //register-btn

// Layout Styles
// --------------------------------------------------

/*** Header ***/

.l-header {
  padding: calc-em(25px, $baseFontSize) 0;
}

/*** Event Section ***/

.event {
  position: relative;
  z-index: 2;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  @include background(image-url('backgrounds/bg-bar.png') repeat top left);
  @include box-shadow(rgba(0,0,0,.2) 0 2px 6px);
}

.event-listing {
  @include full;
  @include group;
  padding: calc-em(25px, $baseFontSize) 0;
  
  > div {
    min-height: 110px;
  }

}

.event-description {
  @include columns(4, 8);
  width: 46.154%;
  padding-top: 0;
  padding-right: 2.564%;
  padding-bottom: 0;
  
  border-right: 1px solid $borderColor;
  @include box-shadow(rgba(255,255,255,1) 1px 0 0);
  h2 {
    @include background(image-url('parts/icons/ico-event.png') no-repeat top left);
    padding-left: calc-em(32px, $baseFontSize);
    
  }
} //event-description

.event-time,
.event-location {
  padding-top: calc-em(50px, $baseFontSize); 
} //time & location

.event-time {

  padding-right: 2.564%;
  
  @include background(image-url('parts/icons/ico-time.png') no-repeat top left);
  @include columns(2, 8);
  width: 20.513%;
  border-right: 1px solid $borderColor;
  @include box-shadow(rgba(255,255,255,1) 1px 0 0);
  
} //event-time

.event-location { 
  @include background(image-url('parts/icons/ico-location.png') no-repeat top left);
  @include columns(2, 8);
  @include omega(8);
} //event-location

/*** Main Content ***/

.what-is-refresh {
  @include full;
  @include group;
  @include background(image-url('backgrounds/bg-computer.png') no-repeat top left);
  
  margin-top: -(calc-em(39px, $baseFontSize));
  padding-bottom: calc-em(39px, $baseFontSize);
  
  .content {
    @include columns(5, 8);
    @include omega(8);  
    padding-top: calc-em(72px, $baseFontSize);
  }
} //what-is

.more-refresh {
  @include full;
  @include group;
  margin-top: calc-em(48px, $baseFontSize);
  margin-bottom: calc-em(48px, $baseFontSize);
  .about-us {
    @include columns(3, 8);
    
    em {
      margin-top: calc-em(18px, 13px);
      display: block;
      line-height: calc-em(18px, 13px);
    }
  } //about-us
  
  .photos {
    @include columns(5, 8);
    @include omega(8);

    position: relative;
    
    img {
      border: 5px solid #FFF;
      @include box-shadow(rgba(0,0,0,.2) 0 0 3px);
      @include rotate(1deg);
      z-index: 2;
      position: relative;
      
    }
    
    &:before,
    &:after {
      border: 5px solid #FFF;
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 95%;
      background: #000;
      display: block;
      @include box-shadow(rgba(0,0,0,.2) 0 0 3px);
    
    
    };
    
    &:before {
      
      @include rotate(-1deg);
      
    }
    
    &:after {
      @include rotate(3deg);
      z-index: 1;
    }
    
  } //photos
} //more-refresh

/*** Vcard ***/


.vcard {

}

.fn {
  
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 143px;
  height: 96px;
  background: image-url('parts/img-ample.png') no-repeat top left;
  
  
} //fn

.street-address {
  display: block;
}


/*** Footer ***/

.l-footer {

  border-top: 2px solid #333;
  @include background(image-url('backgrounds/bg-footer-texture.png') repeat top left);
  @include box-shadow(rgba(0,0,0,.1) 0 -2px 6px);
  
  
  .container {
    padding: calc-em(32px, $baseFontSize) 0;
    @include background(image-url('backgrounds/bg-state.png') no-repeat top right);
  }
  
  .org {
    @include full;
    @include group;
    .vcard {
      @include columns(3,8);
    }
  }
  
  .copyright {
    @include full;
    font-family: $headlineFontFamily;
    font-size: calc-em(11px, $baseFontSize);
  } //copyright
  
} //footer
