.container {
  //@include susy-grid-background;
  @include container;
}

// Global Layout Styles
// --------------------------------------------------

body {
  width: 100%;
  @include background(#F7F7F7 image-url('backgrounds/bg-page.png') repeat top left);
  font-family: $baseFontFamily;
  color: $textColor;
  font-size: 100%;
  line-height: $baseLineHeight;
} //body

img {
  max-width: 100%;
  width: 100%;
} //img

// Form Styles
// --------------------------------------------------


input {
  display: block;
  box-sizing: border-box;
      
  &[type="email"] {
    font-size: calc-em(18px, $baseFontSize);
    border: 1px solid rgba(0,0,0,.1);
    font-weight: normal;
    height: calc-em(48px, 18px);
    @include border-radius(2px);
    
  }
  &::-webkit-input-placeholder {
     font-family: $headlineFontFamily;
     font-weight: normal;
  }
  &:-moz-placeholder {
    font-family: $headlineFontFamily;
    font-weight: normal;
  }
  
}



// Typography Styles
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $headlineFontFamily;
  font-weight: bold;
  @include text-shadow(rgba(255,255,255,1) 0 1px 0);
  margin: 0;
}

h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  
  background: image-url('parts/img-logo.png') no-repeat center;
  background-size: contain;
  margin: 0 auto;
  
  
  width: 100%;
  min-height: 65px;
  
  /* Media Queries */
  @include retina-image(825px, 125px) {
    background: image-url('parts/img-logo@2x.png') no-repeat center;
  } //retina-image
  
  @include respond-to(medium-screens) {
    min-height: 90px;    
  }
  @include respond-to(wide-screens) {
    min-height: 125px;    
  }
  
}

h2 {
  font-size: calc-em(28px, $baseFontSize);
  line-height: calc-em(32px, 28px);
  margin-bottom: calc-em(14px, 28px);
}

h3 {
  font-size: calc-em(20px, $baseFontSize);
  line-height: calc-em(26px, 20px);
  margin-bottom: calc-em(10px, 20px);
  
}

p {
  font-family: $baseFontFamily;
  margin-bottom: calc-em(16px, $baseFontSize);
  &.intro {
    font-size: calc-em(18px, $baseFontSize);
    line-height: calc-em(27px, 18px);
    margin-bottom: 0;
  }
}

em {
  font-style: italic;
  color: rgba(0,0,0,.5);
  font-size: calc-em(13px, $baseFontSize);
}

// Link & Button Styles
// --------------------------------------------------

a {
  @include link-colors($linkColor, $linkHoverColor, $linkActiveColor, $linkVisitedColor, $linkFocusColor);
  text-decoration: none; 
}

.button {
  display: inline-block;
  display: block;
  text-align: center;
  font-size: calc-em(20px, $baseFontSize);
  padding: calc-em(8px, 20px) calc-em(24px, 20px);
  
  color: #FFF;
  font-family: $headlineFontFamily;
  font-weight: bold;
  @include text-shadow(rgba(0,0,0,.4) 0 -1px 0);
  letter-spacing: .95px;
  
  border: {
    style: solid;
    width: 1px;
    top: {
      color: #2d91d4;
    }
    right: {
      color: #2e94cd;
    }
    bottom: {
      color: #1670a3;
    }
    left: {
      color: #2e94cd;
    }
  } //border
  

  @include border-radius(2px);
  @include background(linear-gradient(#43a4dc #146fa6));
  @include box-shadow(inset rgba(255,255,255,.5) 0 1px 0, inset rgba(0,0,0,.2) 0 0 6px, rgba(0,0,0,.4) 0 1px 3px);
  
  &:visited {
    color: #FFF;
  }
  
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
  
  &:active,
  &:focus {
    color: opacify(#FFF, .3);
    @include box-shadow(inset rgba(255,255,255,.1) 0 1px 0, inset rgba(0,0,0,.6) 0 0 13px);
  }
  
} //register-btn

// Layout Styles
// --------------------------------------------------

/*** Header ***/

.l-header {
  padding: calc-em(25px, $baseFontSize) 0;
  @include full;
}

/*** Event Section ***/

.event {
  position: relative;
  z-index: 2;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  @include background(image-url('backgrounds/bg-bar.png') repeat top left);
  @include box-shadow(rgba(0,0,0,.2) 0 2px 6px);
}

.event-listing {
  @include full;
  @include group;
  padding: calc-em(25px, $baseFontSize) 0;
  
  /* Media Queries */
  @include respond-to(medium-screens) {
    padding-bottom: 0;
  } //medium-screens
  @include respond-to(wide-screens) {
    > div {
      min-height: 110px;
    }
  } //wide-screens
      
} //event-listing

.event-description {
  h2 {
    @include background(image-url('parts/icons/ico-event.png') no-repeat left center);
    padding-left: calc-em(32px, $baseFontSize);
    padding-top: calc-em(12px, 32px);
    padding-bottom: calc-em(12px, 32px);
    
    /* Media Queries */
    @include retina-image(35px, 48px) {
      @include background(image-url('parts/icons/ico-event.png') no-repeat left center);
    } //retina-image
    
  }

  .button {
    margin: calc-em(20px, 20px) 0;
    
    /* Media Queries */
    @include respond-to(wide-screens) {
      display: inline-block;
    } //wide-screens
  }
  
  @include respond-to(medium-screens) {
    @include columns(4, 8);
    padding-top: 0;
    padding-bottom: 0;
  } //medium-screens
  
  @include respond-to(wide-screens) {
    @include columns(5, 8);
  } //wide-screens
  
} //event-description

.event-details {
  /* Media Queries */
  @include respond-to(medium-screens) {
    @include columns(4, 8);
    @include omega(4);
  } //medium-screen
  @include respond-to(wide-screens) {
    @include columns(3,8);
    @include omega(3);
  } //wide-screens
} //event-details

.event-time,
.event-location {
  padding-top: calc-em(60px, $baseFontSize);
  margin-top: calc-em(16px, $baseFontSize);
  
  
  @include columns(4, 8);
  
  /* Media Queries */
  @include respond-to(medium-screens) {
    padding-top: 0;
    @include columns(4, 4);
    @include omega(8);
  } //medium-screens
  
  h3 {
    /* Media Queries */
    @include respond-to(medium-screens) {
      padding-left: calc-em(60px, 20px);
    } //medium-screen
  } //h3
  
    
  time,
  .location {
    /* Media Queries */
    @include respond-to(medium-screens) {
      padding-left: calc-em(60px, $baseFontSize);
    } //medium-screens
    
  } //time & location
  
  
} //time & location

.event-time {
  @include background(image-url('parts/icons/ico-time.png') no-repeat top left);
  
  /* Media Queries */
  @include retina-image(41px, 48px) {
    @include background(image-url('parts/icons/ico-time@2x.png') no-repeat top left);
  } //retina-image
  
  @include respond-to(wide-screens) {
    margin-top: 0;
  } //wide-screens
  
} //event-time

.event-location { 

  @include omega(8);
  @include background(image-url('parts/icons/ico-location.png') no-repeat top left);

  /* Media Queries */
  @include retina-image(44px, 48px) {
    @include background(image-url('parts/icons/ico-location@2x.png') no-repeat top left);
  } //retina-image
  
} //event-location

/*** Main Content ***/

.what-is-refresh {
  @include full;
  @include group;
  
  .content {
    padding-top: calc-em(36px, $baseFontSize);
    
    /* Media Queries */
    @include respond-to(medium-screens) {
      padding-bottom: calc-em(39px, $baseFontSize);
      @include columns(5, 8);
      @include omega(8);
    } //medium-screens
    
    @include respond-to(wide-screens) {
      padding-top: calc-em(72px, $baseFontSize);
    } //wide-screens
  } //content
    
  /* Media Queries */
  @include respond-to(medium-screens) {
    @include background(image-url('backgrounds/bg-computer.png') no-repeat 0 10%);
    background-size: 40%;
  } //medium-screens
  
  @include respond-to(wide-screens) {
    margin-top: -(calc-em(48px, $baseFontSize));
    background-size: auto;
  } //wide-screens
  
} //what-is

.more-refresh {
  @include full;
  @include group;
  margin-top: calc-em(48px, $baseFontSize);
  margin-bottom: calc-em(48px, $baseFontSize);
  .about-us {
    
    @include respond-to(wide-screens) {
      @include columns(4, 8);
    } //wide-screens 
    
    header {
        
      /* Media Queries */
      @include respond-to(medium-screens) {
        @include columns(4,8);
      } //medium screens
      
      @include respond-to(wide-screens) {
        @include columns(4,4);
      } //wide-screens
      
    } //header
    
    .sign-up-form {
      
      /* Media Queries */
      @include respond-to(medium-screens) {
        @include columns(4,8);
        @include omega(8);
      } //medium-screens
      
      @include respond-to(wide-screens) {
        @include columns(4,4);
      } //wide-screens
      
    } //sign-up-form
    
    em {
      margin-top: calc-em(18px, 13px);
      display: block;
      line-height: calc-em(18px, 13px);
      
      /* Media Queries */
      @include respond-to(wide-screens) {
        clear: both; 
        display: block;
        padding-top: calc-em(18px, 13px);
      } //wide-screens
    } //em
    
    input {
      @include columns(8,8);
      margin-bottom: calc-em(10px, 20px);
      
      /* Media Queries */
      @include respond-to(medium-screens) {
        @include columns(4,4);
      } //medium-screens
      
      @include respond-to(wide-screens) {
        display: inline-block;
        width: 45%;
        margin: 0;
      } //wide-screens
    } //input
    
    .button {
      /* Media Queries */
      @include respond-to(wide-screens) {
        margin: 0 0 0 4%;
      } //wide-screens
    } //button
    
    

    
    
    
  } //about-us
  
  .photos {
    @include columns(8,8);
    @include omega(8);
    margin-top: calc-em(16px, $baseFontSize);
    position: relative;
    
    img {
      border: 5px solid #FFF;
      @include box-shadow(rgba(0,0,0,.2) 0 0 3px);
      @include rotate(1deg);
      z-index: 2;
      position: relative;
    }
    
    &:before,
    &:after {
      max-width: 100%;
      border: 5px solid #FFF;
      content: '';
      position: absolute;
      top: 0;
      width: 98%;
      height: 95%;
      background: #000;
      display: block;
      @include box-shadow(rgba(0,0,0,.2) 0 0 3px);
    
    }
    
    &:before {
      @include rotate(-1deg);
    }
    
    &:after {
      @include rotate(3deg);
      z-index: 1;
    }
    
    /* Media Queries */
    @include respond-to(wide-screens) {
      @include columns(4,8);
      @include omega(8);
    } //wide-screens
    
    
  } //photos
} //more-refresh

/*** Vcard ***/


.vcard {

}

.fn {
  
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 143px;
  height: 96px;
  background: image-url('parts/img-ample.png') no-repeat top left;
  margin: 0 auto;
  
  /* Media Queries */
  @include retina-image(143px, 96px) {
    background: image-url('parts/img-ample@2x.png') no-repeat top left;
  } //retina-image
  
} //fn

.street-address {
}


/*** Footer ***/

.l-footer {

  border-top: 2px solid #333;
  @include background(image-url('backgrounds/bg-footer-texture.png') repeat top left);
  @include box-shadow(rgba(0,0,0,.1) 0 -2px 6px);
  
  .container {
    padding: calc-em(16px, $baseFontSize) 0;
    @include background(image-url('backgrounds/bg-state.png') no-repeat top right);    
    background-size: contain;

    /* Media Queries */
    @include retina-image(553px, 216px) {
      @include background(image-url('backgrounds/bg-state@2x.png') no-repeat top right);
    } //retina-image
    
    @include respond-to(wide-screens) {
      background-size: auto;
      padding: calc-em(32px, $baseFontSize) 0 calc-em(72px, $baseFontSize);
    } //wide-screens
    
  } //container
  
  .org {
    @include full;
    @include group;
    .vcard {
      margin: 0 auto;
      
      /* Media Queries */
      @include respond-to(medium-screens) {
        @include columns(3,8);
      } //medium-screen
      
    } //vcard
  } //org
  
  .copyright {
    @include full;
    font-family: $headlineFontFamily;
    font-size: calc-em(11px, $baseFontSize);
    margin-top: calc-em(17px, 11px);
  } //copyright
  
} //footer
