@import 'partials/base';


// Global
// --------------------------------------------------

body {
  background: $backgroundColor image-url('backgrounds/bg-page.png') repeat;
  color: $textColor;
  line-height: 1.5;
  font-size: 100%;
  font-family: $baseFontFamily;
  border-top: 5px solid $borderColor;
}

.container {
  padding: 0 calc-em(20px);
  
}

// Sprites
// --------------------------------------------------
$icons-spacing: 30px;
$icons-ico-event-spacing: 40px;
@import "../images/parts/icons/*.png";
@include all-icons-sprites;


// Typography
// --------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
}

p {
}

// Header
// --------------------------------------------------


// Main Content
// --------------------------------------------------

.main-content {
} //main-content


// Footer
// --------------------------------------------------