/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* One-true layout hack for equal height columns */
/* line 1, partials/_global.scss */
.container {
  *zoom: 1;
  margin: auto;
  width: 1080px;
  max-width: 100%; }
  /* line 38, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* line 9, partials/_global.scss */
body {
  width: 100%;
  background: #f7f7f7 url('../images/backgrounds/bg-page.png') repeat top left;
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  color: #333333;
  font-size: 100%;
  line-height: 24px; }

/* line 18, partials/_global.scss */
img {
  max-width: 100%;
  width: 100%; }

/* line 27, partials/_global.scss */
input {
  display: block;
  box-sizing: border-box; }
  /* line 31, partials/_global.scss */
  input[type="email"] {
    font-size: 1.125em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: normal;
    height: 2.667em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
  /* line 39, partials/_global.scss */
  input::-webkit-input-placeholder {
    font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: normal; }
  /* line 43, partials/_global.scss */
  input:-moz-placeholder {
    font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: normal; }

/* line 55, partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: bold;
  text-shadow: white 0 1px 0;
  margin: 0; }

/* line 62, partials/_global.scss */
h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: url('../images/parts/img-logo.png') no-repeat center;
  background-size: contain;
  margin: 0 auto;
  width: 100%;
  min-height: 65px;
  /* Media Queries */ }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* line 62, partials/_global.scss */
    h1 {
      background: url('../images/parts/img-logo@2x.png') no-repeat center;
      -webkit-background-size: 75px 75px; } }
  @media only screen and (min-width: 561px) {
    /* line 62, partials/_global.scss */
    h1 {
      min-height: 90px; } }
  @media only screen and (min-width: 940px) {
    /* line 62, partials/_global.scss */
    h1 {
      min-height: 125px; } }

/* line 90, partials/_global.scss */
h2 {
  font-size: 1.75em;
  line-height: 1.143em;
  margin-bottom: 0.5em; }

/* line 96, partials/_global.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.3em;
  margin-bottom: 0.5em; }

/* line 103, partials/_global.scss */
p {
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  margin-bottom: 1em; }
  /* line 106, partials/_global.scss */
  p.intro {
    font-size: 1.125em;
    line-height: 1.5em;
    margin-bottom: 0; }

/* line 113, partials/_global.scss */
em {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.813em; }

/* line 122, partials/_global.scss */
a {
  color: #f10010;
  text-decoration: none; }
  /* line 18, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #f10010; }
  /* line 21, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #d7000e; }
  /* line 24, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #d7000e; }
  /* line 27, ../../../../.rvm/gems/ruby-1.9.3-p125@middleman-qcmerge/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #d7000e; }

/* line 127, partials/_global.scss */
.button {
  display: inline-block;
  display: block;
  text-align: center;
  font-size: 1.25em;
  padding: 0.4em 1.2em;
  color: #FFF;
  font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  letter-spacing: .95px;
  border-style: solid;
  border-width: 1px;
  border-top-color: #2d91d4;
  border-right-color: #2e94cd;
  border-bottom-color: #1670a3;
  border-left-color: #2e94cd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43a4dc), color-stop(100%, #146fa6));
  background: -webkit-linear-gradient(#43a4dc, #146fa6);
  background: -moz-linear-gradient(#43a4dc, #146fa6);
  background: -o-linear-gradient(#43a4dc, #146fa6);
  background: -ms-linear-gradient(#43a4dc, #146fa6);
  background: linear-gradient(#43a4dc, #146fa6);
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 0 6px, rgba(0, 0, 0, 0.4) 0 1px 3px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 0 6px, rgba(0, 0, 0, 0.4) 0 1px 3px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 0 6px, rgba(0, 0, 0, 0.4) 0 1px 3px; }
  /* line 162, partials/_global.scss */
  .button:visited {
    color: #FFF; }
  /* line 166, partials/_global.scss */
  .button:hover {
    color: #FFF;
    text-decoration: none; }
  /* line 172, partials/_global.scss */
  .button:active, .button:focus {
    color: white;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.6) 0 0 13px;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.6) 0 0 13px;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.6) 0 0 13px; }

/*** Header ***/
/* line 184, partials/_global.scss */
.l-header {
  padding: 1.563em 0;
  clear: both;
  margin-left: 3.704%;
  margin-right: 3.704%; }

/*** Event Section ***/
/* line 191, partials/_global.scss */
.event {
  position: relative;
  z-index: 2;
  border-top: 4px solid #FFF;
  border-bottom: 4px solid #FFF;
  background: url('../images/backgrounds/bg-bar.png') repeat top left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px; }

/* line 200, partials/_global.scss */
.event-listing {
  clear: both;
  margin-left: 3.704%;
  margin-right: 3.704%;
  *zoom: 1;
  padding: 1.563em 0;
  /* Media Queries */ }
  /* line 18, partials/_custom_mixins.scss */
  .event-listing:before, .event-listing:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  @media only screen and (min-width: 561px) {
    /* line 200, partials/_global.scss */
    .event-listing {
      padding-bottom: 0; } }
  @media only screen and (min-width: 940px) {
    /* line 210, partials/_global.scss */
    .event-listing > div {
      min-height: 110px; } }

/* line 218, partials/_global.scss */
.event-description h2 {
  background: url('../images/parts/icons/ico-event.png') no-repeat left center;
  padding-left: 2em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  /* Media Queries */ }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* line 218, partials/_global.scss */
    .event-description h2 {
      background: url('../images/parts/icons/ico-event.png') no-repeat left center;
      -webkit-background-size: 75px 75px; } }
/* line 231, partials/_global.scss */
.event-description .button {
  margin: 1em 0;
  /* Media Queries */ }
  @media only screen and (min-width: 940px) {
    /* line 231, partials/_global.scss */
    .event-description .button {
      display: inline-block; } }
@media only screen and (min-width: 561px) {
  /* line 217, partials/_global.scss */
  .event-description {
    display: inline;
    float: left;
    width: 48%;
    margin-right: 4%;
    padding-top: 0;
    padding-bottom: 0; } }
@media only screen and (min-width: 940px) {
  /* line 217, partials/_global.scss */
  .event-description {
    display: inline;
    float: left;
    width: 61%;
    margin-right: 4%; } }

/* line 252, partials/_global.scss */
.event-details {
  /* Media Queries */ }
  @media only screen and (min-width: 561px) {
    /* line 252, partials/_global.scss */
    .event-details {
      display: inline;
      float: left;
      width: 48%;
      margin-right: 4%;
      display: inline;
      float: right;
      margin-right: 0;
      #margin-left: -40px; } }
  @media only screen and (min-width: 940px) {
    /* line 252, partials/_global.scss */
    .event-details {
      display: inline;
      float: left;
      width: 35%;
      margin-right: 4%;
      display: inline;
      float: right;
      margin-right: 0;
      #margin-left: -40px; } }

/* line 265, partials/_global.scss */
.event-time,
.event-location {
  padding-top: 3.75em;
  margin-top: 1em;
  display: inline;
  float: left;
  width: 48%;
  margin-right: 4%;
  /* Media Queries */ }
  @media only screen and (min-width: 561px) {
    /* line 265, partials/_global.scss */
    .event-time,
    .event-location {
      padding-top: 0;
      display: inline;
      float: left;
      width: 100%;
      margin-right: 8.333%;
      display: inline;
      float: right;
      margin-right: 0;
      #margin-left: -40px; } }
  /* line 279, partials/_global.scss */
  .event-time h3,
  .event-location h3 {
    /* Media Queries */ }
    @media only screen and (min-width: 561px) {
      /* line 279, partials/_global.scss */
      .event-time h3,
      .event-location h3 {
        padding-left: 3em; } }
  /* line 288, partials/_global.scss */
  .event-time time,
  .event-time .location,
  .event-location time,
  .event-location .location {
    /* Media Queries */ }
    @media only screen and (min-width: 561px) {
      /* line 288, partials/_global.scss */
      .event-time time,
      .event-time .location,
      .event-location time,
      .event-location .location {
        padding-left: 3.75em; } }

/* line 299, partials/_global.scss */
.event-time {
  background: url('../images/parts/icons/ico-time.png') no-repeat top left;
  /* Media Queries */ }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* line 299, partials/_global.scss */
    .event-time {
      background: url('../images/parts/icons/ico-time@2x.png') no-repeat top left;
      -webkit-background-size: 75px 75px; } }
  @media only screen and (min-width: 940px) {
    /* line 299, partials/_global.scss */
    .event-time {
      margin-top: 0; } }

/* line 313, partials/_global.scss */
.event-location {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -40px;
  background: url('../images/parts/icons/ico-location.png') no-repeat top left;
  /* Media Queries */ }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* line 313, partials/_global.scss */
    .event-location {
      background: url('../images/parts/icons/ico-location@2x.png') no-repeat top left;
      -webkit-background-size: 75px 75px; } }

/*** Main Content ***/
/* line 327, partials/_global.scss */
.what-is-refresh {
  clear: both;
  margin-left: 3.704%;
  margin-right: 3.704%;
  *zoom: 1;
  /* Media Queries */ }
  /* line 18, partials/_custom_mixins.scss */
  .what-is-refresh:before, .what-is-refresh:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  /* line 331, partials/_global.scss */
  .what-is-refresh .content {
    padding-top: 2.25em;
    /* Media Queries */ }
    @media only screen and (min-width: 561px) {
      /* line 331, partials/_global.scss */
      .what-is-refresh .content {
        padding-bottom: 2.438em;
        display: inline;
        float: left;
        width: 61%;
        margin-right: 4%;
        display: inline;
        float: right;
        margin-right: 0;
        #margin-left: -40px; } }
    @media only screen and (min-width: 940px) {
      /* line 331, partials/_global.scss */
      .what-is-refresh .content {
        padding-top: 4.5em; } }
  @media only screen and (min-width: 561px) {
    /* line 327, partials/_global.scss */
    .what-is-refresh {
      background: url('../images/backgrounds/bg-computer.png') no-repeat 0 10%;
      background-size: 40%; } }
  @media only screen and (min-width: 940px) {
    /* line 327, partials/_global.scss */
    .what-is-refresh {
      margin-top: -3em;
      background-size: auto; } }

/* line 359, partials/_global.scss */
.more-refresh {
  clear: both;
  margin-left: 3.704%;
  margin-right: 3.704%;
  *zoom: 1;
  margin-top: 3em;
  margin-bottom: 3em; }
  /* line 18, partials/_custom_mixins.scss */
  .more-refresh:before, .more-refresh:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  @media only screen and (min-width: 940px) {
    /* line 364, partials/_global.scss */
    .more-refresh .about-us {
      display: inline;
      float: left;
      width: 48%;
      margin-right: 4%; } }
  /* line 370, partials/_global.scss */
  .more-refresh .about-us header {
    /* Media Queries */ }
    @media only screen and (min-width: 561px) {
      /* line 370, partials/_global.scss */
      .more-refresh .about-us header {
        display: inline;
        float: left;
        width: 48%;
        margin-right: 4%; } }
    @media only screen and (min-width: 940px) {
      /* line 370, partials/_global.scss */
      .more-refresh .about-us header {
        display: inline;
        float: left;
        width: 100%;
        margin-right: 8.333%; } }
  /* line 383, partials/_global.scss */
  .more-refresh .about-us .sign-up-form {
    /* Media Queries */ }
    @media only screen and (min-width: 561px) {
      /* line 383, partials/_global.scss */
      .more-refresh .about-us .sign-up-form {
        display: inline;
        float: left;
        width: 48%;
        margin-right: 4%;
        display: inline;
        float: right;
        margin-right: 0;
        #margin-left: -40px; } }
    @media only screen and (min-width: 940px) {
      /* line 383, partials/_global.scss */
      .more-refresh .about-us .sign-up-form {
        display: inline;
        float: left;
        width: 100%;
        margin-right: 8.333%; } }
  /* line 397, partials/_global.scss */
  .more-refresh .about-us em {
    margin-top: 1.385em;
    display: block;
    line-height: 1.385em;
    /* Media Queries */ }
    @media only screen and (min-width: 940px) {
      /* line 397, partials/_global.scss */
      .more-refresh .about-us em {
        clear: both;
        display: block;
        padding-top: 1.385em; } }
  /* line 410, partials/_global.scss */
  .more-refresh .about-us input {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 4%;
    margin-bottom: 0.5em;
    /* Media Queries */ }
    @media only screen and (min-width: 561px) {
      /* line 410, partials/_global.scss */
      .more-refresh .about-us input {
        display: inline;
        float: left;
        width: 100%;
        margin-right: 8.333%; } }
    @media only screen and (min-width: 940px) {
      /* line 410, partials/_global.scss */
      .more-refresh .about-us input {
        display: inline-block;
        width: 45%;
        margin: 0; } }
  /* line 426, partials/_global.scss */
  .more-refresh .about-us .button {
    /* Media Queries */ }
    @media only screen and (min-width: 940px) {
      /* line 426, partials/_global.scss */
      .more-refresh .about-us .button {
        margin: 0 0 0 4%; } }
  /* line 440, partials/_global.scss */
  .more-refresh .photos {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 4%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -40px;
    margin-top: 1em;
    position: relative;
    /* Media Queries */ }
    /* line 446, partials/_global.scss */
    .more-refresh .photos img {
      border: 5px solid #FFF;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
      -o-transform: rotate(1deg);
      transform: rotate(1deg);
      z-index: 2;
      position: relative; }
    /* line 455, partials/_global.scss */
    .more-refresh .photos:before, .more-refresh .photos:after {
      max-width: 100%;
      border: 5px solid #FFF;
      content: '';
      position: absolute;
      top: 0;
      width: 98%;
      height: 95%;
      background: #000;
      display: block;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px; }
    /* line 469, partials/_global.scss */
    .more-refresh .photos:before {
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      -o-transform: rotate(-1deg);
      transform: rotate(-1deg); }
    /* line 473, partials/_global.scss */
    .more-refresh .photos:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      transform: rotate(3deg);
      z-index: 1; }
    @media only screen and (min-width: 940px) {
      /* line 440, partials/_global.scss */
      .more-refresh .photos {
        display: inline;
        float: left;
        width: 48%;
        margin-right: 4%;
        display: inline;
        float: right;
        margin-right: 0;
        #margin-left: -40px; } }

/*** Vcard ***/
/* line 495, partials/_global.scss */
.fn {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 143px;
  height: 96px;
  background: url('../images/parts/img-ample.png') no-repeat top left;
  margin: 0 auto;
  /* Media Queries */ }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* line 495, partials/_global.scss */
    .fn {
      background: url('../images/parts/img-ample@2x.png') no-repeat top left;
      -webkit-background-size: 75px 75px; } }

/*** Footer ***/
/* line 519, partials/_global.scss */
.l-footer {
  border-top: 2px solid #333;
  background: url('../images/backgrounds/bg-footer-texture.png') repeat top left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 -2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 -2px 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 -2px 6px; }
  /* line 525, partials/_global.scss */
  .l-footer .container {
    padding: 1em 0;
    background: url('../images/backgrounds/bg-state.png') no-repeat top right;
    background-size: contain;
    /* Media Queries */ }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      /* line 525, partials/_global.scss */
      .l-footer .container {
        background: url('../images/backgrounds/bg-state@2x.png') no-repeat top right;
        -webkit-background-size: 75px 75px; } }
    @media only screen and (min-width: 940px) {
      /* line 525, partials/_global.scss */
      .l-footer .container {
        background-size: auto;
        padding: 2em 0 4.5em; } }
  /* line 542, partials/_global.scss */
  .l-footer .org {
    clear: both;
    margin-left: 3.704%;
    margin-right: 3.704%;
    *zoom: 1; }
    /* line 18, partials/_custom_mixins.scss */
    .l-footer .org:before, .l-footer .org:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ".";
      clear: both;
      height: 0; }
    /* line 545, partials/_global.scss */
    .l-footer .org .vcard {
      margin: 0 auto;
      /* Media Queries */ }
      @media only screen and (min-width: 561px) {
        /* line 545, partials/_global.scss */
        .l-footer .org .vcard {
          display: inline;
          float: left;
          width: 35%;
          margin-right: 4%; } }
  /* line 556, partials/_global.scss */
  .l-footer .copyright {
    clear: both;
    margin-left: 3.704%;
    margin-right: 3.704%;
    font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.688em;
    margin-top: 1.545em; }

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/font-awesome/fontawesome-webfont.eot");
  src: url("/fonts/font-awesome/fontawesome-webfont.eot#iefix") format("embedded-opentype"), url("/fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("/fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("/fonts/font-awesome/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* sprites.less reset */
/* line 43, partials/_font_awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat; }

/* line 54, partials/_font_awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block; }

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 61, partials/_font_awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit; }

/* line 70, partials/_font_awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
/* line 76, partials/_font_awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em; }

/* line 83, partials/_font_awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em; }

/* line 91, partials/_font_awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }
/* line 97, partials/_font_awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em; }

/* line 104, partials/_font_awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none; }
  /* line 108, partials/_font_awesome.scss */
  li[class^="icon-"]:before,
  li[class*=" icon-"]:before {
    text-indent: -2em;
    text-align: center; }
  /* line 112, partials/_font_awesome.scss */
  li[class^="icon-"].icon-large:before,
  li[class*=" icon-"].icon-large:before {
    text-indent: -4/3em; }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 119, partials/_font_awesome.scss */
.icon-glass:before {
  content: "\f000"; }

/* line 120, partials/_font_awesome.scss */
.icon-music:before {
  content: "\f001"; }

/* line 121, partials/_font_awesome.scss */
.icon-search:before {
  content: "\f002"; }

/* line 122, partials/_font_awesome.scss */
.icon-envelope:before {
  content: "\f003"; }

/* line 123, partials/_font_awesome.scss */
.icon-heart:before {
  content: "\f004"; }

/* line 124, partials/_font_awesome.scss */
.icon-star:before {
  content: "\f005"; }

/* line 125, partials/_font_awesome.scss */
.icon-star-empty:before {
  content: "\f006"; }

/* line 126, partials/_font_awesome.scss */
.icon-user:before {
  content: "\f007"; }

/* line 127, partials/_font_awesome.scss */
.icon-film:before {
  content: "\f008"; }

/* line 128, partials/_font_awesome.scss */
.icon-th-large:before {
  content: "\f009"; }

/* line 129, partials/_font_awesome.scss */
.icon-th:before {
  content: "\f00a"; }

/* line 130, partials/_font_awesome.scss */
.icon-th-list:before {
  content: "\f00b"; }

/* line 131, partials/_font_awesome.scss */
.icon-ok:before {
  content: "\f00c"; }

/* line 132, partials/_font_awesome.scss */
.icon-remove:before {
  content: "\f00d"; }

/* line 133, partials/_font_awesome.scss */
.icon-zoom-in:before {
  content: "\f00e"; }

/* line 135, partials/_font_awesome.scss */
.icon-zoom-out:before {
  content: "\f010"; }

/* line 136, partials/_font_awesome.scss */
.icon-off:before {
  content: "\f011"; }

/* line 137, partials/_font_awesome.scss */
.icon-signal:before {
  content: "\f012"; }

/* line 138, partials/_font_awesome.scss */
.icon-cog:before {
  content: "\f013"; }

/* line 139, partials/_font_awesome.scss */
.icon-trash:before {
  content: "\f014"; }

/* line 140, partials/_font_awesome.scss */
.icon-home:before {
  content: "\f015"; }

/* line 141, partials/_font_awesome.scss */
.icon-file:before {
  content: "\f016"; }

/* line 142, partials/_font_awesome.scss */
.icon-time:before {
  content: "\f017"; }

/* line 143, partials/_font_awesome.scss */
.icon-road:before {
  content: "\f018"; }

/* line 144, partials/_font_awesome.scss */
.icon-download-alt:before {
  content: "\f019"; }

/* line 145, partials/_font_awesome.scss */
.icon-download:before {
  content: "\f01a"; }

/* line 146, partials/_font_awesome.scss */
.icon-upload:before {
  content: "\f01b"; }

/* line 147, partials/_font_awesome.scss */
.icon-inbox:before {
  content: "\f01c"; }

/* line 148, partials/_font_awesome.scss */
.icon-play-circle:before {
  content: "\f01d"; }

/* line 149, partials/_font_awesome.scss */
.icon-repeat:before {
  content: "\f01e"; }

/* \f020 is not a valid unicode character. all shifted one down */
/* line 152, partials/_font_awesome.scss */
.icon-refresh:before {
  content: "\f021"; }

/* line 153, partials/_font_awesome.scss */
.icon-list-alt:before {
  content: "\f022"; }

/* line 154, partials/_font_awesome.scss */
.icon-lock:before {
  content: "\f023"; }

/* line 155, partials/_font_awesome.scss */
.icon-flag:before {
  content: "\f024"; }

/* line 156, partials/_font_awesome.scss */
.icon-headphones:before {
  content: "\f025"; }

/* line 157, partials/_font_awesome.scss */
.icon-volume-off:before {
  content: "\f026"; }

/* line 158, partials/_font_awesome.scss */
.icon-volume-down:before {
  content: "\f027"; }

/* line 159, partials/_font_awesome.scss */
.icon-volume-up:before {
  content: "\f028"; }

/* line 160, partials/_font_awesome.scss */
.icon-qrcode:before {
  content: "\f029"; }

/* line 161, partials/_font_awesome.scss */
.icon-barcode:before {
  content: "\f02a"; }

/* line 162, partials/_font_awesome.scss */
.icon-tag:before {
  content: "\f02b"; }

/* line 163, partials/_font_awesome.scss */
.icon-tags:before {
  content: "\f02c"; }

/* line 164, partials/_font_awesome.scss */
.icon-book:before {
  content: "\f02d"; }

/* line 165, partials/_font_awesome.scss */
.icon-bookmark:before {
  content: "\f02e"; }

/* line 166, partials/_font_awesome.scss */
.icon-print:before {
  content: "\f02f"; }

/* line 168, partials/_font_awesome.scss */
.icon-camera:before {
  content: "\f030"; }

/* line 169, partials/_font_awesome.scss */
.icon-font:before {
  content: "\f031"; }

/* line 170, partials/_font_awesome.scss */
.icon-bold:before {
  content: "\f032"; }

/* line 171, partials/_font_awesome.scss */
.icon-italic:before {
  content: "\f033"; }

/* line 172, partials/_font_awesome.scss */
.icon-text-height:before {
  content: "\f034"; }

/* line 173, partials/_font_awesome.scss */
.icon-text-width:before {
  content: "\f035"; }

/* line 174, partials/_font_awesome.scss */
.icon-align-left:before {
  content: "\f036"; }

/* line 175, partials/_font_awesome.scss */
.icon-align-center:before {
  content: "\f037"; }

/* line 176, partials/_font_awesome.scss */
.icon-align-right:before {
  content: "\f038"; }

/* line 177, partials/_font_awesome.scss */
.icon-align-justify:before {
  content: "\f039"; }

/* line 178, partials/_font_awesome.scss */
.icon-list:before {
  content: "\f03a"; }

/* line 179, partials/_font_awesome.scss */
.icon-indent-left:before {
  content: "\f03b"; }

/* line 180, partials/_font_awesome.scss */
.icon-indent-right:before {
  content: "\f03c"; }

/* line 181, partials/_font_awesome.scss */
.icon-facetime-video:before {
  content: "\f03d"; }

/* line 182, partials/_font_awesome.scss */
.icon-picture:before {
  content: "\f03e"; }

/* line 184, partials/_font_awesome.scss */
.icon-pencil:before {
  content: "\f040"; }

/* line 185, partials/_font_awesome.scss */
.icon-map-marker:before {
  content: "\f041"; }

/* line 186, partials/_font_awesome.scss */
.icon-adjust:before {
  content: "\f042"; }

/* line 187, partials/_font_awesome.scss */
.icon-tint:before {
  content: "\f043"; }

/* line 188, partials/_font_awesome.scss */
.icon-edit:before {
  content: "\f044"; }

/* line 189, partials/_font_awesome.scss */
.icon-share:before {
  content: "\f045"; }

/* line 190, partials/_font_awesome.scss */
.icon-check:before {
  content: "\f046"; }

/* line 191, partials/_font_awesome.scss */
.icon-move:before {
  content: "\f047"; }

/* line 192, partials/_font_awesome.scss */
.icon-step-backward:before {
  content: "\f048"; }

/* line 193, partials/_font_awesome.scss */
.icon-fast-backward:before {
  content: "\f049"; }

/* line 194, partials/_font_awesome.scss */
.icon-backward:before {
  content: "\f04a"; }

/* line 195, partials/_font_awesome.scss */
.icon-play:before {
  content: "\f04b"; }

/* line 196, partials/_font_awesome.scss */
.icon-pause:before {
  content: "\f04c"; }

/* line 197, partials/_font_awesome.scss */
.icon-stop:before {
  content: "\f04d"; }

/* line 198, partials/_font_awesome.scss */
.icon-forward:before {
  content: "\f04e"; }

/* line 200, partials/_font_awesome.scss */
.icon-fast-forward:before {
  content: "\f050"; }

/* line 201, partials/_font_awesome.scss */
.icon-step-forward:before {
  content: "\f051"; }

/* line 202, partials/_font_awesome.scss */
.icon-eject:before {
  content: "\f052"; }

/* line 203, partials/_font_awesome.scss */
.icon-chevron-left:before {
  content: "\f053"; }

/* line 204, partials/_font_awesome.scss */
.icon-chevron-right:before {
  content: "\f054"; }

/* line 205, partials/_font_awesome.scss */
.icon-plus-sign:before {
  content: "\f055"; }

/* line 206, partials/_font_awesome.scss */
.icon-minus-sign:before {
  content: "\f056"; }

/* line 207, partials/_font_awesome.scss */
.icon-remove-sign:before {
  content: "\f057"; }

/* line 208, partials/_font_awesome.scss */
.icon-ok-sign:before {
  content: "\f058"; }

/* line 209, partials/_font_awesome.scss */
.icon-question-sign:before {
  content: "\f059"; }

/* line 210, partials/_font_awesome.scss */
.icon-info-sign:before {
  content: "\f05a"; }

/* line 211, partials/_font_awesome.scss */
.icon-screenshot:before {
  content: "\f05b"; }

/* line 212, partials/_font_awesome.scss */
.icon-remove-circle:before {
  content: "\f05c"; }

/* line 213, partials/_font_awesome.scss */
.icon-ok-circle:before {
  content: "\f05d"; }

/* line 214, partials/_font_awesome.scss */
.icon-ban-circle:before {
  content: "\f05e"; }

/* line 216, partials/_font_awesome.scss */
.icon-arrow-left:before {
  content: "\f060"; }

/* line 217, partials/_font_awesome.scss */
.icon-arrow-right:before {
  content: "\f061"; }

/* line 218, partials/_font_awesome.scss */
.icon-arrow-up:before {
  content: "\f062"; }

/* line 219, partials/_font_awesome.scss */
.icon-arrow-down:before {
  content: "\f063"; }

/* line 220, partials/_font_awesome.scss */
.icon-share-alt:before {
  content: "\f064"; }

/* line 221, partials/_font_awesome.scss */
.icon-resize-full:before {
  content: "\f065"; }

/* line 222, partials/_font_awesome.scss */
.icon-resize-small:before {
  content: "\f066"; }

/* line 223, partials/_font_awesome.scss */
.icon-plus:before {
  content: "\f067"; }

/* line 224, partials/_font_awesome.scss */
.icon-minus:before {
  content: "\f068"; }

/* line 225, partials/_font_awesome.scss */
.icon-asterisk:before {
  content: "\f069"; }

/* line 226, partials/_font_awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a"; }

/* line 227, partials/_font_awesome.scss */
.icon-gift:before {
  content: "\f06b"; }

/* line 228, partials/_font_awesome.scss */
.icon-leaf:before {
  content: "\f06c"; }

/* line 229, partials/_font_awesome.scss */
.icon-fire:before {
  content: "\f06d"; }

/* line 230, partials/_font_awesome.scss */
.icon-eye-open:before {
  content: "\f06e"; }

/* line 232, partials/_font_awesome.scss */
.icon-eye-close:before {
  content: "\f070"; }

/* line 233, partials/_font_awesome.scss */
.icon-warning-sign:before {
  content: "\f071"; }

/* line 234, partials/_font_awesome.scss */
.icon-plane:before {
  content: "\f072"; }

/* line 235, partials/_font_awesome.scss */
.icon-calendar:before {
  content: "\f073"; }

/* line 236, partials/_font_awesome.scss */
.icon-random:before {
  content: "\f074"; }

/* line 237, partials/_font_awesome.scss */
.icon-comment:before {
  content: "\f075"; }

/* line 238, partials/_font_awesome.scss */
.icon-magnet:before {
  content: "\f076"; }

/* line 239, partials/_font_awesome.scss */
.icon-chevron-up:before {
  content: "\f077"; }

/* line 240, partials/_font_awesome.scss */
.icon-chevron-down:before {
  content: "\f078"; }

/* line 241, partials/_font_awesome.scss */
.icon-retweet:before {
  content: "\f079"; }

/* line 242, partials/_font_awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a"; }

/* line 243, partials/_font_awesome.scss */
.icon-folder-close:before {
  content: "\f07b"; }

/* line 244, partials/_font_awesome.scss */
.icon-folder-open:before {
  content: "\f07c"; }

/* line 245, partials/_font_awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d"; }

/* line 246, partials/_font_awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e"; }

/* line 248, partials/_font_awesome.scss */
.icon-bar-chart:before {
  content: "\f080"; }

/* line 249, partials/_font_awesome.scss */
.icon-twitter-sign:before {
  content: "\f081"; }

/* line 250, partials/_font_awesome.scss */
.icon-facebook-sign:before {
  content: "\f082"; }

/* line 251, partials/_font_awesome.scss */
.icon-camera-retro:before {
  content: "\f083"; }

/* line 252, partials/_font_awesome.scss */
.icon-key:before {
  content: "\f084"; }

/* line 253, partials/_font_awesome.scss */
.icon-cogs:before {
  content: "\f085"; }

/* line 254, partials/_font_awesome.scss */
.icon-comments:before {
  content: "\f086"; }

/* line 255, partials/_font_awesome.scss */
.icon-thumbs-up:before {
  content: "\f087"; }

/* line 256, partials/_font_awesome.scss */
.icon-thumbs-down:before {
  content: "\f088"; }

/* line 257, partials/_font_awesome.scss */
.icon-star-half:before {
  content: "\f089"; }

/* line 258, partials/_font_awesome.scss */
.icon-heart-empty:before {
  content: "\f08a"; }

/* line 259, partials/_font_awesome.scss */
.icon-signout:before {
  content: "\f08b"; }

/* line 260, partials/_font_awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c"; }

/* line 261, partials/_font_awesome.scss */
.icon-pushpin:before {
  content: "\f08d"; }

/* line 262, partials/_font_awesome.scss */
.icon-external-link:before {
  content: "\f08e"; }

/* line 264, partials/_font_awesome.scss */
.icon-signin:before {
  content: "\f090"; }

/* line 265, partials/_font_awesome.scss */
.icon-trophy:before {
  content: "\f091"; }

/* line 266, partials/_font_awesome.scss */
.icon-github-sign:before {
  content: "\f092"; }

/* line 267, partials/_font_awesome.scss */
.icon-upload-alt:before {
  content: "\f093"; }

/* line 268, partials/_font_awesome.scss */
.icon-lemon:before {
  content: "\f094"; }
