<section class="event">
  <div class="container">
    <div class="event-listing">
      <div class="event-description">
        <h2>Becoming Responsibly Responsive</h2>
        <p class="intro">Eum dolorem pariatur error. non ut earum veritatis ea. est ea doloremque ut sint architecto quo sed aliquid non totam molestiae quasi in saepe.</p>
        <a href="#" class="button" title="Register">Register Now</a>
      </div>
      <!-- /event-description -->
      
      <div class="event-details">
        <div class="event-time">
          <h3>February 21, 2012</h3>
          <time>6:30 p.m.</time>
    
        </div>
        <!-- /event-time -->
  
        <div class="event-location">
          <h3>Ample</h3>
          <div class="location">
            200 W. 4th Street <br />
            Cincinnati, OH 45202
          </div>
        </div>
        <!-- /event-location -->
        
      </div>
      <!-- /event-details -->

      
    </div>
    
    
  </div>
  
</section>

<div class="container">
    
  <section class="what-is-refresh">
    <div class="content">
      <h2>What is RefreshCincy?</h2>
      <p>Odit dolorum quasi similique nobis commodi magnam saepe similique ab et. est veritatis enim voluptatem voluptatem eveniet est pariatur quia eos est natus quasi laboriosam. ut dolorem earum temporibus vero expedita sint magnam autem adipisci corrupti reprehenderit</p>
      <p>Bero expedita sint magnam autem adipisci corrupti reprehenderit. Peveniet est pariatur quia eos est natus quasi laboriosam. ut dolorem earum temporibus vero expedita.</p>
    </div>
  </section>
  
  <section class="more-refresh">
    <div class="content">
      <div class="about-us">
        <header>
          <h2>Want more RefreshCincy?</h2>
          <p>Sign-up for our newsletter to participate in discussions, share tips and stay active in the community.</p>
        </header>
        <div class="sign-up-form">
          <h3>Sign-up for the newsletter</h3>
          <input type="email" placeholder="YourName@domain.com" />
          <input type="submit" class="button" value="Sign Me Up" />
          <p><em>We hate spam, too. We promise to keep your email address to ourselves.</em></p>
          
        </div>
        
      </div>
      <!-- about-us -->
      <div class="photos">
        <%= image_tag 'img-tmp.png' %>
      </div>
      
      
    </div>
  </section>
    
  

</div>