<section class="event">
  <div class="container">
    <div class="event-listing">
      <div class="event-description">
        <h2>Becoming Responsibly Responsive</h2>
        <p><%= lorem.paragraph %></p>
    
      </div>
      <!-- /event-description -->
  
      <div class="event-time">
        <h3>February 21, 2012</h3>
        <time>6:30 p.m.</time>
    
      </div>
      <!-- /event-time -->
  
      <div class="event-location">
        <h3>Ample</h3>
        <div class="location">
          200 W. 4th Street <br />
          Cincinnati, OH 45202
        </div>
    
      </div>
      <!-- /event-location -->
      
    </div>
    
    
  </div>
  
</section>

<div class="container">

  <section class="what-is-refresh">
    <h2>What is RefreshCincy?</h2>
    <p><%= lorem.paragraph %></p>
  </section>


  <section class="where-is-refresh">
    <h2>Where is RefreshCincy?</h2>
    <p><%= lorem.paragraph %></p>
  </section>

</div>