<section class="description">
  <div class="description-content">
    <header class="description-header">
    <h2>
      It's a conference without cubicles
    </h2>
    <h3>
      Where developers, designers and social media types
      <br /> share what they know.
    </h3>
  </header>
  <!-- description-header -->
  <ul class="date-time">
    <li>
      May 10 &amp; 11, 2013
    </li>
    <li>
      Contemporary Arts Center
    </li>
    <li>
      Cincinnati, OH
    </li>
  </ul>
  <!-- /date-time -->
  </div>
  

</section>
<!-- /description -->


<section class="email-signup">
  <form class="">
    <label for="email">Sign up for upcoming details about this conference</label>
    <input type="email" name="" id="" placeholder="Your Email Address" />
    <button>Submit</button>
  </form>
</section>
<!-- /email-signup -->